<form id="swim-custom-config">
    <h2>{{ localize "SWIM.ConfigMenuName" }}</h2>
    <nav class="sheet-tabs tabs" data-group="spicy-settings-tabs">
        {{#each tabs}}
            <a class="item swim-tab-header" data-tab="{{@key}}">{{@key}}</a>
        {{/each}}
    </nav>
    <hr/>
    <section class="content">
        {{#each tabs}}
            <div class="tab swim-tab {{# unless @index}}active{{/unless}}" data-tab="{{@key}}" data-group="spicy-settings-tabs">
                {{# each this }}
                    <div class="form-group">
                        <label>{{ this.name }}</label>
                        <div class="form-fields">
                            {{#if this.is_boolean}}
                                <input type="checkbox" name="{{ this.id }}" {{#if this.value }}checked=""{{/if}}>
                            {{else}}
                                <input type="text" name="{{ this.id }}" value="{{ this.value }}">
                                {{# if this.use_audio_picker }}{{ filePicker type="audio" target=this.id }}{{/if}}
                                {{# if this.use_video_picker }}{{ filePicker type="video" target=this.id }}{{/if}}
                            {{/if}}
                        </div>
                        <p class="notes">{{ this.hint }}</p>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </section>
    <hr />
    <h2>News</h2>
    <p>Foundry version 10 is just around the corner and I can assure you: SWIM will get a v10 ready version. This will not happen within a few days though and could even take a few weeks.</p>
    <p>If you like SWIM and need to use it, please <strong>do not update</strong> to Foundry v10 before there is a SWIM update available supporting it. Unfortunately, there is no going back from v10 to v9, so think about this in advance.</p>
    <p style="text-align: center;"><strong>Like SWIM? Please consider donating, it would mean the world to me. =)</strong></p>
        <p><a href="https://ko-fi.com/salieric"><img style="border: 0px; display: block; margin-left: auto; margin-right: auto;" src="https://www.ko-fi.com/img/githubbutton_sm.svg" width="350" height="30" /></a></p>
    <footer class="sheet-footer flexrow">
        <button type="submit"><i class="far fa-save"></i>{{localize "SWIM.Save"}}</button>
    </footer>
</form>