<form id="swim-document-config">
    <h2>{{ localize "SWIM.DocumentConfigMenu" }}</h2>
    <hr/>
    <section class="content">
        {{#each options}}
            <div class="form-group">
                {{#if this.isSectionTitle }}
                    <h3>{{this.value}}</h3>
                {{else}}
                    <label>{{ this.label }}</label>
                    <div class="form-fields">
                        {{#if this.isBoolean}}
                            <input type="checkbox" name="{{ this.id }}" {{#if this.value }}checked=""{{/if}}>
                        {{/if}}
                        {{#if this.isText}}
                            <input type="text" name="{{ this.id }}" value="{{ this.value }}">
                        {{/if}}
                        {{#if this.isAE}}
                            <button data-action="_setActiveEffect" data-id="{{this.id}}">
                                Set Active Effect
                            </button>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </section>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
        </button>
    </footer>
</form>