<form id="swim-document-config">
    <h2>{{ localize "SWIM.DocumentConfigMenu" }}</h2>
    <hr/>
    <section class="content">
        {{#each options}}
            <div class="form-group">
                {{#if this.isSectionTitle }}
                    <h3>{{ localize this.label }}</h3>
                {{else}}
                    <label>{{ localize this.label }}</label>
                    <div class="form-fields">
                        {{#if this.isBoolean}}
                            <input type="checkbox" name="{{ this.id }}" {{#if this.value }}checked=""{{/if}}>
                        {{/if}}
                        {{#if this.isAE}}
                            <input type="text" name="{{ this.id }}" value="{{ this.value }}">
                            <button data-action="_setActiveEffect" data-id="{{this.id}}" {{#if ../isEmbedded }}disabled title="{{localize "SWIM.Config_ButtonDisabled"}}"{{/if}}>
                                <i class="far fa-pen-to-square"></i>
                            </button>
                            <button data-action="_removeActiveEffect" data-id="{{this.id}}">
                                <i class="far fa-trash"></i>
                            </button>
                        {{/if}}

                        {{#if this.isText}}
                            <input type="text" name="{{ this.id }}" value="{{ this.value }}">
                            {{# if this.useFilePicker }}{{ filePicker type=this.filePickerData target=this.id }}{{/if}}
                        {{/if}}

                        {{#if this.isNumber}}
                            <input type="number" name="{{ this.id }}" value="{{ this.value }}" min="{{ this.min }}"
                                   max="{{ this.max }}">
                        {{/if}}
                    </div>
                    <p class="notes">{{ localize this.hint }}</p>
                {{/if}}
            </div>
        {{/each}}
    </section>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
        </button>
    </footer>
</form>